:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary: #f6422d;

    --header-height: 120px;
    --nav-height: 36px;
    --nav-search-height: calc(var(--header-height) - var(--nav-height));
    --height-sort-bar: 50px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;


}

.modal__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn linear 0.1s;
}

.modal__content {
    position: relative;
    margin: auto;
    z-index: 1;
    animation: growth ease-in 0.1s;
}

.btn {
    height: 36px;
    min-width: 100px;
    font-size: 1.6rem;
    padding: 0 8px;
    border: none;
    border-radius: 2px;
    outline: #f6422d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--primary {
    background-color: var(--primary);
    color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.2);

}



/* .pagination__items-link {}

.pagination__items i {
    font-size: 1.5rem;
} */


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(50%);
        opacity: 0;
    }

    to {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        top: calc(var(--header-height) * 3 / 4);
        transform: scale(0);
    }

    to {
        opacity: 1;
        /* top: var(--header-height); */
        transform: scale(1);
    }

}

/* Arrow */
.arrow::before {
    content: "";
    position: absolute;
    display: block;
    border-width: 0 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -8px;
    right: 1px;
}

.arrow-label::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-style: solid;
    border-width: 3px 0 0 3px;
    border-color: currentColor transparent transparent transparent;
    filter: brightness(70%);
}

.arrow-rocket::after {
    position: absolute;
    content: "";
    display: block;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
    bottom: -5px;
    right: 0;
}